

<div *ngIf="album" class="album_box">
	<div id="album_head_card">

		<div class="image">
			<img src="{{url + 'get-image-album/'+ album.image}}">
		</div>
		<div class="data">
			<strong>{{album.title}}</strong>
			<p>{{album.artist.name}}</p>	
			<p>{{album.year}}</p>	
			<p>{{album.description}}</p>
		</div>	
		<a [routerLink]="['/crear-tema', album._id]"  *ngIf="identity.role == 'ROLE_ADMIN'" href="#" class="btn btn-default">
			Añadir Canción
		</a>
	</div>

	<div class="clearfix"></div>
	<div *ngIf="songs" id="gallery_songs">
		<ul id="songs_list">
			<li class="song_item" *ngFor="let song of songs">
				<div class="title">
					<a class="btn btn-success" (click)="startPlayer(song)">
						<span class="glyphicon glyphicon-play aria-hidden= true"></span>

					</a>
					{{song.number + '. ' + song.name + '- ' + song.duration }}

					<div class="buttons" *ngIf="identity && identity.role =='ROLE_ADMIN'">
						<a [routerLink]="['/editar-tema', song._id]" class="btn btn-warning">
							Editar
						</a>

						<a (click)="onDeleteConfirm(song._id)" class="btn btn-danger">Borrar
						</a>
					</div>
					<div *ngIf="confirmado == song._id" class="seguro_song">
						<a (click)="onDeleteSong(song._id)" class="btn btn-danger">Eliminar
						</a>
						<a (click)="onDeleteCancel()" class="btn btn-primary">Cancelar
						</a>
					</div>

					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
	</div>
</div>