<div *ngIf="artist" class="artist_box">

	<div id="artist_head_card" >
		<div class="image">
			<img *ngIf="artist.image && artist.image !== 'null'" src="{{url + 'get-image-artist/' + artist.image}}"/>
		</div>

		<div class="data">
			<h1>{{artist.name}}</h1>
			<p class="description"> {{artist.name}}</p>

			<a  class="btn btn-default" *ngIf="identity.role == 'ROLE_ADMIN'"  href="">
				Añadir Album
			</a>
		</div>



	</div>

	<div class="clearfix"></div>

	<div *ngIf="albums"  id="gallery_album">
		<!-- Listar Albums-->
	</div>
</div>
