<div class="container">

  <div *ngIf="identity">
    <h1>
   {{ title }}
  </h1>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-wrench " aria-hidden="true"></i> &nbsp; Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-wrench" aria-hidden="true"></i> &nbsp; Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mis-datos']"><i class="fa fa-wrench " aria-hidden="true"></i>&nbsp; Mis datos</a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> &nbsp; Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </nav>


  </div>



  <div class="clearfix"></div>

  <div *ngIf="identity" class="central col-lg-11">
    <p> Estas logueado en la app</p>
    <router-outlet></router-outlet>
  </div>


  <div class="row" *ngIf="!identity">

    <div class="col-lg-6">
      <h3> Loguearse </h3>
      <div *ngIf="loginError">
        <div class="alert alert-danger" role="alert">
          <strong> {{loginError}}</strong>
        </div>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="onSumbit()" class="col-md-8 ">

        <div class="form-group">
          <label> Correo electronico </label>
          <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control form-control-sm" required/>
          <small *ngIf="email.invalid && email.touched" class="form-text text-danger">El email es obligatorio</small>
        </div>

        <div class="form-group">
          <label> Contraseña </label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control form-control-sm" required/>
          <small *ngIf="password.invalid && password.touched" class="form-text text-danger">Ingrese la contrseña</small>
        </div>

        <input type="submit" value="Entrar" class="btn btn-primary btn-sm" />
      </form>
    </div>



    <div class="col-lg-6">

      <h3> Registrarse </h3>
      <div *ngIf="registerMessage">
        <div class="alert alert-success" role="alert">
          <strong> {{registerMessage}}</strong>
        </div>
      </div>

      <form #registerForm="ngForm" (ngSubmit)="onSumbitRegister()" class="col-md-8 ">

        <div class="form-group">
          <label> Nombre: </label>
          <input #name="ngModel" type="text" name="name" [(ngModel)]="userRegister.name" class="form-control form-control-sm" required/>
          <small *ngIf="!name.valid && name.touhed" class="form-text text-danger">El nombre es obligatorio</small>
        </div>

        <div class="form-group">
          <label> Apellidos:</label>
          <input #surname="ngModel" type="text" name="surname" [(ngModel)]="userRegister.surname" class="form-control form-control-sm" required/>
          <small *ngIf="!surname.valid && surname.touched" class="form-text text-danger">El apellido es obligatorio</small>
        </div>

        <div class="form-group">
          <label> Correo electronico </label>
          <input #email="ngModel" type="email" name="email" [(ngModel)]="userRegister.email" class="form-control form-control-sm" required/>
          <small *ngIf="!email.valid && email.touhed" class="form-text text-danger">El email es obligatorio</small>
        </div>

        <div class="form-group">
          <label> Contraseña </label>
          <input #password="ngModel" type="password" name="password" [(ngModel)]="userRegister.password" class="form-control form-control-sm" required/>
          <small *ngIf="!password.valid && password.touhed" class="form-text text-danger">La password es obligatoria</small>
        </div>

        <input type="submit" value="Registrar" class="btn btn-primary btn-sm" />
      </form>
    </div>
  </div>

</div>