/*GLOBAL*/

html, body{
	margin: 0px;
	height: 100%;
	background: #eee;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

.actived{
	border-bottom: 4px solid #84BD00;
	padding-bottom: 4px;
}

.central{
	height: 100%;
	overflow-y: scroll;
}

.seguro{
	margin-top: -30px;
	background: #222326;
	position: absolute;
}

/*BARRA LATERAL*/

.head-title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation{
	text-align: center;
	color: white;
	background: #1C1C1F;
	height: 100%;
}

.navigation a{
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}

.navigation a:hover{
	color: white;
	font-size: 25px;
}

.navigation .glyphicon{
	font-size: 25px;
	display: block;
	width: 100%;
}

#user_logged{
	text-decoration: center;
	background: #1C1C1F;
	position: absolute;
	bottom:0px;
	border-top:1px solid #444;
	width: 75%;
}

#user_logged .user-image{
	background: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 0px auto;
	margin-top: 15px;
	overflow: hidden;
}

#user_logged .user-image img{
	width: 57px;
}

.btn-logout{
	cursor:pointer;
}

/*DETALLE DE ARTISTAS*/

.album_item .album_image img{
	width: 100%;
}

#artist_head_card .image{
	width: 150px;
	height: 150px;
	overflow: hidden;
	float: left;
	margin-right: 30px;

}

#artist_head_card .image img{
	height: 130px;

}


/*ARTISTAS Y ALBUM*/

.artist_image_for_edit,
.album_image_for_edit{
	width: 150px;
}

.artist_list,
.album_list{
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	list-style: none;
}

.artist_item,
.album_item{
	width: 23%;
	margin: 0px;
	padding: 0px;
	height: 317px;
	border: 1px solid #444;
	margin-left: 20px;
	margin-right: 20px;
}

.artist_item .artist_image,
.album_item .album_image{
	height: 245px;
	width: 100%;
	overflow: hidden;
	background: black;
}

.artist_item .artist_image img{
	height: 100%;
}

.artist_item .artist_name,
.album_item .album_name{
	color: white;
	padding: 10px;
	background: #222326;
}

.artist_item .artist_name a,
.album_item .album_name a{
	color: white;
}

/*ALBUM*/

.album_item{
	height: 375px;
}
