<div *ngIf="identity">
  <strong>{{title}}</strong>

  <div *ngIf="messageAlert">
    <div class="alert alert-info">
      <strong>  {{messageAlert }}</strong>
    </div>
  </div>

  <form #userUpdateForm="ngForm" (ngSubmit)="onUpdateUser()">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-4">
        <input #name="ngModel" type="text" name="name" [(ngModel)]="user.name" class="form-control" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellidos</label>
      <div class="col-4">
        <input #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" type="text" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Correo electrónico</label>
      <div class="col-4">
        <input #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" type="email" />
      </div>
    </div>


    <div *ngIf="user.image && user.image != 'null'" class="form-group row">
      <img src="{{url + 'get-image-user/' + user.image}}" style="width:40px; height: 40px; border-radius: 50%;" />
    </div>

    <div *ngIf="user.image && user.image != 'null'" class="form-group row">
      <label class="col-2 col-form-label" for="exampleInputFile">Sube tu foto</label>
      <div class="col-4">
        <input type="file" class="form-control-file" id="exampleInputFile" (change)="fileChangeEvent($event)" aria-describedby="fileHelp">
      </div>
    </div>

    <button type="submit" class="btn btn-info">Confirmar cambios</button>

  </form>

</div>